@font-face {
  font-family: aeonik1;
  src: url(./assets/fonts/Aeonik-Air.ttf);
}

@font-face {
  font-family: aeonik2;
  src: url(./assets/fonts/Aeonik-Light.ttf);
}

@font-face {
  font-family: aeonik3;
  src: url(./assets/fonts/Aeonik-Thin.ttf);
}

@font-face {
  font-family: aeonik4;
  src: url(./assets/fonts/RoclinePersonalUseOnly-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(249, 246, 246);
  padding: 17px;
}

body {
  /* min-height: auto; */
  height: auto;
}

.top1 {
  padding: 15px;
  /* display: flex;
  flex-direction: column; */
  justify-content: space-between;
  font-size: 25px;
}

.top1 button {
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  outline: 0.5px solid black;
  transition: transform 0.3s ease;
}

button:hover {
  scale: 1.03;
  background-color: black;
  color: white;
  transition: all 0.5s ease;

}

.top1 h1 {
  font-family: aeonik2;
  font-weight: 1000;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}

.mid-full-nav {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.midnav {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: space-between;
}

.midnav h3 {
  font-family: aeonik2;
}

.midbtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 36%;
}

.midbtn button {
  padding: 10px 13px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  /* outline: 0.5px solid black; */
  transition: all 0.6s ease;
}

.midbtn button:hover {
  scale: 1.1;
  background-color: rgb(44, 43, 43);
  color: white;
  /* transition: transform 0.s ease; */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.midnav #book {
  padding: 10px 13px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  outline: 0.5px solid black;
  transition: all 0.3s ease;
  background-color: black;
  color: white;
}

.midnav #book:hover {
  /* transition: transform 0.s ease; */
  scale: 1.03;
  background-color: rgb(20, 20, 20);
  color: white;
  /* transition: transform 0.s ease; */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.image1 {
  height: 600px;
  width: 95%;
  padding: 20px;
  margin: 20px;
  margin-left: 35px;
  background-image: url(./assets/images/skii1.avif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  /* ADD */
  flex-direction: column;
  /* ADD */
  justify-content: space-between;
}

.image1 .imgnav {
  /* margin: 50px; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image1 .imgnav h1 {
  width: 65%;
  font-size: 45px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: aeonik1;
  font-weight: 1000;
  opacity: 0.9;
}

.image1 .imgnav h1 span {
  font-size: 60px;
  color: rgb(54, 54, 54);
}

.image1 .imgnav p {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: aeonik2;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.image1 .imgnav p span {
  color: white;
}

.image1 .imgnav #start {
  font-family: aeonik2;
  font-size: 16px;
  padding: 15px;
  background-color: rgb(0, 20, 40);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 23px;
  transition: all 0.5s ease;
}

.imgnav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}


.imgnav2 p {
  backdrop-filter: blur(20px);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: aeonik2;
}

.imgnav2 .btncorn {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgnav2 .btncorn button {
  text-decoration: underline;
  color: black;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}


.imgnav2 .btncorn button::after {
  scale: 1.01;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.mid-full-nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: aeonik2;
  padding: 20px 32px;
  margin-left: 5px;
}

.mid-full-nav2 button {
  font-size: 20px;
  font-family: aeonik1;
  font-weight: 700;
  margin-left: 18px;
  padding: 10px 13px;
  background-color: rgb(224, 221, 221);
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.6s ease;
}

.mid-full-nav2 button:hover {
  scale: 1.02;
  background-color: white;
  border: 0.5px solid black;
  color: black;
}

.mid-full-nav2 p {
  font-size: 24px;
  width: 50%;
}

.mid-full-nav3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 97%;
  gap: 100px;
  margin-left: 12px;
}

.mid-full-nav3 .div1 {
  background-color: rgb(30, 30, 60);
  height: 230px;
  width: 25%;
  padding: 20px;
  border-radius: 15px;
}

.mid-full-nav3 .div1 i {
  font-size: 26px;
  color: white;
}

.mid-full-nav3 .div1 h2 {
  font-family: aeonik1;
  margin: 15px 0px;
  font-size: 20px;
  color: rgb(158, 158, 198);
}

.mid-full-nav3 .div1 #game i {
  color: white;
  font-size: 15px;
}

.mid-full-nav3 .div1 #game {
  margin-top: 30px;
  font-size: 14px;
}

.mid-full-nav3 .div1 h2 span {
  color: white;
}

.mid-full-nav3 .div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: darkblue; */
  height: 230px;
  width: 25%;
  padding: 20px;
  background-image: url(https://plus.unsplash.com/premium_photo-1737582993681-1e06172a09d6?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: right;
  background-size: cover;
  border-radius: 15px;
}

.div2 #centerbtn {

  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  /* -webkit-backdrop-filter: blur(10px);   */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}

.div2 #centerbtn:hover {
  color: black;
  border: 1px solid black;
  scale: 1.02;
}


.mid-full-nav3 .div3 {
  height: 230px;
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* background-color: darkblue; */
  height: 230px;
  width: 25%;
  padding: 20px;
  background-image: url(https://images.unsplash.com/photo-1611624553798-2f41e3efd2c8?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: right;
  background-size: cover;
  border-radius: 15px;
}

.div3 div {
  /* margin-top: -20%;
  margin-left: -63%; */
  margin-top: -27px;
  padding: 0%;
  font-family: aeonik2;
  color: white;
}

.div3 div h1 {
  font-size: 50px;
  /* color: rgba(0, 0, 0, 0.849); */
}

.div3 div p {
  font-size: 16px;
}

.div3 #centerbtn {
  margin-top: -2%;
  padding: 12px 24px;
  border-radius: 30px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.308);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: rgba(255, 255, 255, 0.447);
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}

.div3 #centerbtn:hover {
  color: black;
  border: 1px solid black;
  scale: 1.02;
}

.mid-full-nav4 {
  font-family: aeonik2;
  height: 150px;
  transform: translate(50% 50%);
}

.mid-full-nav4 .h1 h1 {
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: aeonik3;
  font-weight: 900;
}

.mid-full-nav4 .numbers {
  display: flex;
  margin-top: 20px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
}

.mid-full-nav5 {
  padding: 100px;
  margin-top: 40px;
  background-color: rgba(235, 235, 235, 0.596);
  width: 98%;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  gap: 40px;
  font-family: aeonik2;
}

.mid-full-nav5 .div1 {
  background-color: rgba(167, 167, 240, 0.223);
  height: 250px;
  width: 40%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mid-full-nav5 .div1 .txt button {
  padding: 7px;
  border-radius: 20px;

}

.mid-full-nav5 .div1 .txt h2 {
  margin: 10px 0px;
  font-size: 20px;
}

.mid-full-nav5 .div1 .txt #exp {
  padding: 7px;
  margin-top: 30px;
  margin-left: 60%;
  border-radius: 20px;

}

.mid-full-nav5 .div2 {
  background-image: url(https://images.unsplash.com/photo-1643288786499-46f01a692d52?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 250px;
  width: 35%;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}

.mid-full-nav5 .div2 .h2p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid-full-nav5 .div2 .h2p p {
  width: 70%;
  background-color: rgba(249, 252, 255, 0.342);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  opacity: 0.8;
  font-size: 20px;
  border-radius: 10px;
  padding: 4px;
}

.mid-full-nav5 .div2 .h2p button {
  border-radius: 50%;
}

.mid-full-nav5 .div2 .h2p i {
  padding: 6px;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 50%;
}

.mid-full-nav5 .div3 {
  height: 250px;
  width: 35%;
  border-radius: 15px;
  padding: 20px;
  background-image: url(https://plus.unsplash.com/premium_photo-1663127376828-b13fbd2f4a21?q=80&w=1172&auto=format&fit=crop);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}


#skiing {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#skiing span {
  color: rgb(54, 54, 54);
  font-size: 32.5px;
  opacity: 0.8;
}

#skiing button {
  width: fit-content;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  color: white;
  font-size: 14px;
  cursor: pointer;
}

#skiing h2 {
  font-size: 26px;
  font-family: aeonik1;
}


.textpart4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textpart4 p {
  width: 70%;
  font-size: 15px;
  color: black;
}

.arrow {
  display: flex;
  gap: 10px;
}

.arrow i {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  outline: 0.5px solid rgb(193, 192, 192);
  cursor: pointer;
  transition: 0.3s;
}

.arrow i:hover {
  background: white;
  color: black;
}