* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}
html,body{
  height: 100%;
  width: 100%;
}

.box{
  height: 200px;
  width: 200px;
  background-color: coral;
}

.parent{
  padding: 20px;

}

button{
  padding: 10px 12px;
  background-color:mediumspringgreen;
  font-size: large;
  border-radius: 5px;
  border: 0px;
  
}

button:active{
  scale: 0.95;
}

.women{
  border-radius: 10px;
  margin: 7px;
  width: fit-content;
  padding: 40px;
  font-size: 30px;
  font-weight: 600;
  background-color: palevioletred;
  color: black;
}

.men{
  border-radius: 10px;
  margin: 7px;
  width: fit-content;
  padding: 40px;
  font-size: 30px;
  font-weight: 600;
  background-color: skyblue;
  color: black;
}