@import "tailwindcss";

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 10px;
    background-color: black
    
}

body::-webkit-scrollbar{
    display: none;
}


button {
    /* margin: 1rem; */
    padding: 5px 10px;
    background-color: rgb(3, 211, 211);
    border-radius: 5px;
    font-size: 25px;
    text-decoration: bold;
}

button:active {
    scale: 0.95;
}

.parent{
    padding: 20px;
    height: 100vh;
    background-color: black;
}
.parent h1 {
    font-size: 40px;
    color:white;
}

.wash{
    border-radius: 10px;
    height: 200px;
    width: fit-content;
    padding: 20px 40px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Male {
    background-color: rgb(0, 179, 255);
}

.Female {
    background-color: rgb(255, 57, 163);
}

.Others {
    background: conic-gradient(violet, indigo, blue, green, yellow, orange,red,violet);
}